{% extends "base.html" %}
{% block title %}{% if len(users) == 1 %}{{ users[0].shortrepr }}'s Profile{% else %}Profiles{% endif %}{% endblock %}
{% block content %}
<h1>{% if len(users) == 1 %}{{ users[0].shortrepr }}{% else %}Profiles{% endif %}</h1>
  {% if len(users) == 1 %}
    <a class="w3-bar-item w3-btn w3-round-large w3-border w3-margin w3-right" style="transition: 0.5s;" href="/profile">
      <span class="material-icons">people</span>
      View All Profiles
    </a>
  {% endif %}
  <ul class="w3-ul">
    {% for user in users %}
      <li class="w3-bar">
        <div class="w3-bar-item">
          <div class="w3-bar-block">
            <span class="w3-bar-item">
              {{ user.first_name }} {{ user.last_name }} (<span class="w3-codespan">{{ user.group }}</span>)
            </span>
            {% if len(users) == 1 %}
              <span class="w3-bar-item">
                <span class="w3-codespan">{{ user.user_uid }}</span> / <span class="w3-codespan">{{ user.username }}</span>
              </span>
              <span class="w3-bar-item">
                {{ user.age }} years old
              </span>
            {% endif %}
          </div>
        </div>
        <a class="w3-bar-item w3-btn w3-round-large w3-margin w3-right" style="transition: 0.5s;" href="/profile?user_uid={{ user.user_uid }}"><span class="material-icons">visibility</span></a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}