{% extends "base.html" %}
{% block title %}Signin{% endblock %}
{% block body %}
<style>
  @keyframes logo {
    0%   {opacity: 1.0;}
    80%  {opacity: 1.0;}
    90%  {opacity: 0.0; z-index: 20;}
    100% {opacity: 0.0; display: none; z-index: -1;}
  }
</style>
<div class="w3-display-middle" style="background-color: #ffffff; position: absolute; z-index: 20; width: 100%; height: 100%; animation-fill-mode: forwards; animation-name: logo; animation-duration: 10s;">
  <img src="/static/logo-anim-webm.gif" width="500em" class="w3-display-middle">
</div>
{% endblock %}
{% block content %}
  <h1>Signin</h1>
  <form method="POST" action="/signin">
    {{ form.csrf_token }}
    {{ form.username(class_='w3-input w3-round-large w3-margin-top w3-margin-bottom w3-mobile', placeholder='Username') }}
    {{ form.password(class_='w3-input w3-round-large w3-margin-top w3-margin-bottom w3-mobile', placeholder='Password') }}
    <input class="w3-btn w3-round-large w3-border" style="transition: 0.5s" type="submit" value="Signin">
  </form>
{% endblock %}