{% extends "base.html" %}
{% block title %}User {{ user.shortrepr }}{% endblock %}
{% block navbar %}
  <a href="{{ prev_url }}" class="w3-bar-item w3-btn w3-round-large w3-right" style="transition: 0.5s; margin: 0.5em;">
    <span style="font-size: 0.9em;" class="material-icons">arrow_back</span>
    Admin
  </a>
{% endblock %}
{% block content %}
  <h1>User {{ user.shortrepr }}</h1>
  <p>User {{ user.friendlyrepr }} is chosen. Please select the next action.</p>
  <a href="/admin/users/edit?prev_url={{ prev_url.replace('/', '%2F') }}&user_uid={{ user.user_uid }}" class="w3-bar-item w3-btn w3-round-large w3-margin" style="transition: 0.5s;">
    <span style="font-size: 0.9em;" class="material-icons">edit</span>
    Edit User
  </a>
<!--  <a href="/admin/users/del?prev_url={{ prev_url.replace('/', '%2F') }}&user_uid={{ user.user_uid }}" class="w3-bar-item w3-btn w3-round-large w3-margin" style="transition: 0.5s;">-->
<!--    <span style="font-size: 0.9em;" class="material-icons">remove</span>-->
<!--    Delete User-->
<!--  </a>-->
{% endblock %}