{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block content %}
<h1>Search</h1>
<div class="w3-border w3-round-large w3-padding w3-margin">
  <form method="POST" action="/search">
    {{ form.csrf_token }}
    {{ form.query(class_='w3-input w3-round-large w3-margin-top w3-margin-bottom w3-mobile', placeholder='Search Query (press enter to search)') }}
<!--    <input class="w3-btn w3-round-large w3-border" style="transition: 0.5s" type="submit" value="Search">-->
  </form>
</div>
<div class="w3-border w3-round-large w3-padding w3-margin">
  <h2>Search Results</h2>
  {% if results == None %}
  <div class="w3-panel w3-card-4 w3-margin-top w3-round-large w3-light-grey w3-leftbar w3-animate-opacity w3-border-blue w3-center" style="transition: 0.5s; width: fit-content;">
    <p>
      <span class="material-icons">info</span>
      Enter a search query to view results.
    </p>
  </div>
  {% else %}
  <span class="w3-tag w3-round-large w3-red w3-card-2">
    {{ len(results) }} {% if len(results) == 1 %}Result{% else %}Results{% endif %}
  </span><br />
  {% for result in results %}
  {% if isinstance(result, Action) %}
  <a class="w3-hover-text-blue" style="text-decoration: none; transition: 0.5s;" href="{{ url_for('admin_action', action_uid = result.action_uid, prev = '/search', min = True) }}">
    Action <span class="w3-codespan">{{ result.action_uid }}</span>
  </a><br />
<!--  <iframe loading="lazy" frameborder="0" class="w3-round-large w3-border w3-cell-row" style="height: 50vh;" src="{{ url_for('admin_action', action_uid = result.action_uid, prev = '/search', min = True) }}" allowfullscreen>-->
<!--    <div class="w3-panel w3-card-4 w3-margin-top w3-round-large w3-light-grey w3-leftbar w3-animate-opacity w3-border-red w3-center" style="transition: 0.5s; width: fit-content;">-->
<!--      <p>-->
<!--        <span class="material-icons">error</span>-->
<!--        Please use a browser instance that supports and allows <span class="w3-codespan">iframe</span>s.-->
<!--      </p>-->
<!--    </div>-->
<!--  </iframe>-->
  {% elif isinstance(result, Course) %}
  <a class="w3-hover-text-blue" style="text-decoration: none; transition: 0.5s;" href="{{ url_for('course_open', course_uid = result.course_uid, prev = '/search', min = True) }}">
    Course <span class="w3-codespan">{{ result.course_uid }}</span>
  </a><br />
<!--  <iframe loading="lazy" frameborder="0" class="w3-round-large w3-border w3-cell-row" style="height: 50vh;" src="{{ url_for('course_open', course_uid = result.course_uid, prev = '/search', min = True) }}" allowfullscreen>-->
<!--    <div class="w3-panel w3-card-4 w3-margin-top w3-round-large w3-light-grey w3-leftbar w3-animate-opacity w3-border-red w3-center" style="transition: 0.5s; width: fit-content;">-->
<!--      <p>-->
<!--        <span class="material-icons">error</span>-->
<!--        Please use a browser instance that supports and allows <span class="w3-codespan">iframe</span>s.-->
<!--      </p>-->
<!--    </div>-->
<!--  </iframe>-->
  {% elif isinstance(result, User) %}
  <a class="w3-hover-text-blue" style="text-decoration: none; transition: 0.5s;" href="{{ url_for('profile_uid', user_uid = result.user_uid, prev = '/search', min = True) }}">
    User <span class="w3-codespan">{{ result.user_uid }}</span>
  </a><br />
<!--  <iframe loading="lazy" frameborder="0" class="w3-round-large w3-border w3-cell-row" style="height: 50vh;" src="{{ url_for('profile_uid', user_uid = result.user_uid, prev = '/search', min = True) }}" allowfullscreen>-->
<!--    <div class="w3-panel w3-card-4 w3-margin-top w3-round-large w3-light-grey w3-leftbar w3-animate-opacity w3-border-red w3-center" style="transition: 0.5s; width: fit-content;">-->
<!--      <p>-->
<!--        <span class="material-icons">error</span>-->
<!--        Please use a browser instance that supports and allows <span class="w3-codespan">iframe</span>s.-->
<!--      </p>-->
<!--    </div>-->
<!--  </iframe>-->
  {% else %}
  <a class="w3-hover-text-blue" style="text-decoration: none; transition: 0.5s;">
    Object <span class="w3-codespan">{{ str(result) }}</span>
  </a><br />
  {% endif %}
  {% endfor %}
  {% endif %}
</div>
{% endblock %}