{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<style>
  @keyframes logo {
    0%   {opacity: 1.0;}
    80%  {opacity: 1.0;}
    90%  {opacity: 0.0; z-index: 20;}
    100% {opacity: 0.0; display: none; z-index: -1;}
  }
</style>
<div id="loading" class="w3-display-middle" style="background-color: #ffffff; position: absolute; z-index: 20; width: 100%; height: 100%; animation-fill-mode: forwards; animation-name: logo; animation-duration: 10s;">
  <img src="/static/logo-anim-webm.gif" width="500em" class="w3-display-middle">
  <a class="w3-bar-item w3-btn w3-round-large" style="transition: 0.5s;" onclick="document.getElementById('loading').style.display='none';">
    <span style="font-size: 0.9em;" class="material-icons">skip_next</span>
    Skip
  </a>
</div>
{% endblock %}
{% block content %}
<h1>Home</h1>
<div class="w3-bar-block">
  <a class="w3-bar-item w3-btn w3-round-large" style="transition: 0.5s;" href="/courses">
    <span style="font-size: 0.9em;" class="material-icons">school</span>
    Courses
  </a>
  {% if 'admin' in current_user.group and current_user.is_authenticated%}
  <a href="/admin" class="w3-bar-item w3-btn w3-round-large" style="transition: 0.5s;">
    <span style="font-size: 0.9em;" class="material-icons">admin_panel_settings</span>
    Admin
  </a>
  <a href="/search" class="w3-bar-item w3-btn w3-round-large" style="transition: 0.5s;">
    <span style="font-size: 0.9em;" class="material-icons">person_search</span>
    Search
  </a>
  {% endif %}
  <a href="/profile{% if current_user.is_authenticated %}?user_uid={{ current_user.user_uid }}{% endif %}" class="w3-bar-item w3-btn w3-round-large w3-right" style="transition: 0.5s;">
    <span style="font-size: 0.9em;" class="material-icons">account_circle</span>
    {% if current_user.is_authenticated %}
    {{ current_user.first_name }} {{ current_user.last_name }}
    {% else %}
    My Account
    {% endif %}
  </a>
<!--  <a href="/settings" class="w3-bar-item w3-btn w3-round-large w3-right" style="transition: 0.5s;">-->
<!--    <span style="font-size: 0.9em;" class="material-icons">settings</span>-->
<!--    Settings-->
<!--  </a>-->
  {% if current_user.is_authenticated %}
  <a class="w3-bar-item w3-btn w3-round-large w3-right" style="transition: 0.5s;" href="/signout">
    <!--logout-variant Austin Andrews @Templarian materialdesignicons.com-->
    <svg style="width:0.9em;height:0.9em" viewBox="0 0 24 24">
      <path fill="currentColor" d="M14.08,15.59L16.67,13H7V11H16.67L14.08,8.41L15.5,7L20.5,12L15.5,17L14.08,15.59M19,3A2,2 0 0,1 21,5V9.67L19,7.67V5H5V19H19V16.33L21,14.33V19A2,2 0 0,1 19,21H5C3.89,21 3,20.1 3,19V5C3,3.89 3.89,3 5,3H19Z" />
    </svg>
    Sign Out
  </a>
  {% else %}
  <a class="w3-bar-item w3-btn w3-round-large w3-right" style="transition: 0.5s;" href="/signout">
    <!--login-variant Austin Andrews @Templarian materialdesignicons.com-->
    <svg style="width:0.9em;height:0.9em" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19,3H5C3.89,3 3,3.89 3,5V9H5V5H19V19H5V15H3V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M10.08,15.58L11.5,17L16.5,12L11.5,7L10.08,8.41L12.67,11H3V13H12.67L10.08,15.58Z" />
    </svg>
    Sign In
  </a>
  {% endif %}
</div>
{% endblock %}