{% extends "base.html" %}
{% block title %}Error 418{% endblock %}
{% block content %}
  <div class="w3-container w3-card-4 w3-round-large" style="min-width: 20em;">
    <h1>Error 418</h1>
    <p><a href="https://tools.ietf.org/html/rfc7168">I'm a Teapot!</a></p>
    <a href="/" class="w3-btn w3-round-large" style="transition: 0.5s">Return to Home</a>
    <button onclick="location.reload();" class="w3-btn w3-round-large" style="transition: 0.5s">Retry</button>
    <button onclick="window.history.back();" class="w3-btn w3-round-large" style="transition: 0.5s">Go Back</button>
  </div>
{% endblock %}