{% extends "base.html" %}
{% block title %}Error {{ code }}{% endblock %}
{% block content %}
  <h1>Error {{ code }}</h1>
  <p>{% if error != None %}{{ error }}{% else %}An error occurred while fetching the error message.{% endif %}</p>
  <a       href="/"                         class="w3-btn w3-round-large" style="transition: 0.5s">Return to Home</a>
  <button onclick="location.reload();"      class="w3-btn w3-round-large" style="transition: 0.5s">Retry</button>
  <button onclick="window.history.back();"  class="w3-btn w3-round-large" style="transition: 0.5s">Go Back</button>
  {% if code == 403 or code == '403' %}
  <a       href="/signin"                   class="w3-btn w3-round-large" style="transition: 0.5s">Signin</a>
  <a       href="/signout"                  class="w3-btn w3-round-large" style="transition: 0.5s">Signout</a>
  {% endif %}
  {% for action in actions %}
  {% if 'onclick' in action.keys() %}
  <button onclick="{{ action['onclick'] }}" class="w3-btn w3-round-large" style="transition: 0.5s">{{ action['name'] }}</button>
  {% elif 'href' in action.keys() %}
  <a      href="{{ action['href'] }}"       class="w3-btn w3-round-large" style="transition: 0.5s">{{ action['name'] }}</a>
  {% endif %}
  {% endfor %}
{% endblock %}
