{% extends 'base.html' %}
{% block title %}Action {{ action.action_uid }}{% endblock %}
{% block content %}
  <h1>Action {{ action.action_uid }}</h1>
  <div class="w3-container w3-card-4 w3-round-large w3-padding w3-margin-bottom" style="min-width: 20em;">
    <h2>Action Info</h2>
    Action Time: <span class="w3-codespan">{{ action.action_time }}</span><br />
    Action UID: <span class="w3-codespan">{{ action.action_uid }}</span><br />
    Action Name: <span class="w3-codespan">{{ action.action_name }}</span><br />
    Action Status: <div title="{{ action_status_title }}" style="display: inline;">
      <span class="material-icons" style="font-size: 1em;">{{ action_status_icon }}</span>
    <span class="w3-codespan">{{ action.action_status }}</span><br />
    </div>
    Action Description:<br />
    <p class="w3-code">
      {{ action.action_desc }}
    </p>
  </div>
  <div class="w3-container w3-card-4 w3-round-large w3-padding w3-margin-bottom" style="min-width: 20em;">
    <h2>User Info</h2>
    User UID: <span class="w3-codespan">{{ action.user_uid }}</span><br />
    {% if user == None %}
    <div class="w3-panel w3-card-4 w3-margin-top w3-round-large w3-light-grey w3-leftbar w3-animate-opacity w3-border-blue w3-center" style="transition: 0.5s; width: fit-content;">
      <p><span class="material-icons">info</span> User not specified in action.</p>
    </div>
    {% else %}
    User Username: <span class="w3-codespan">{{ user.username }}</span><br />
    User Group: <span class="w3-codespan">{{ user.group }}</span><br />
    User Name: {{ user.first_name }} {{ user.last_name }}<br />
    User Age: {{ user.age }}<br />
    User Notes: {{ user.notes }}<br />
    {% endif %}
  </div>
{% endblock %}